.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border: 1px solid #000;
  font-size: 2em;
  cursor: pointer;
  background-color: #96C9F4; /* Background color for empty cell */
  color: #0F67B1;
}

.cell:hover {
  background-color: #FAFFAF; /* Change background on hover for better UX */
}
