.cell {
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #001f3f86;
  font-size: 30px;
  background: rgb(208, 218, 230);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.cell:hover {
  background: #e7f0f7;
}
.cell:active {
  background: rgb(208, 218, 230);
  cursor: default;
}

@media (hover: none) {
  .cell:hover {
    background-color: rgb(208, 218, 230); /* Resets to default background color */
  }
  .cell:active{
    background-color: rgb(208, 218, 230); /* Resets to default background color */
  }
  .cell:focus{
    background-color: rgb(208, 218, 230); /* Resets to default background color */
  }

}



.x-marker {
  position: relative;
  width: 40px;
  height: 40px;
}

.x-marker::before,
.x-marker::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 8px;
  background-color: #001f3f;
  transform-origin: center;
}

.x-marker::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-marker::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.o-marker {
  width: 1.5rem;
  height: 1.5rem;
  border: 7px solid rgba(12, 82, 142, 1);
  border-radius: 50%;
}
.x-marker::before,
.x-marker::after {
  animation: draw-x 0.5s ease-in-out ;
}

@keyframes draw-x {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.o-marker {
  animation: draw-o 0.8s ease-in-out ;
}

@keyframes draw-o {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {

  .cell {
    width: 60px;
    height: 60px;
    font-size: 25px;
  }

  .o-marker{
    height: 2.3rem;
    width: 2.3rem;
  }
  .x-marker {
    position: relative;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {

  .cell {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }

  .o-marker{
    height: 1.4rem;
    width: 1.4rem;
  }
  .x-marker {
    position: relative;
    width: 34px;
    height: 35px;
  }
}
@media (max-width: 370px) {

  .cell {
    width: 39px;
    height: 39px;
    font-size: 20px;
  }

  .o-marker{
    height: 1.2rem;
    width: 1.2rem;
  }
  .x-marker {
    position: relative;
    width: 30px;
    height: 30px;
  }
}
