<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<div class="game-options">
  <div class="btn-container">
    <button (click)="startNewGame()">Start New Game</button>
  </div>
  <div class="score-container"></div>
  <div class="score">
    <h4>Player X : {{ gameService.Xscore }}</h4>
    <h4>Player O : {{ gameService.Oscore }}</h4>
  </div>
</div>

<div class="game-board">
  <div *ngFor="let row of gameService.board; let i = index">
    <div
      *ngFor="let cell of row; let j = index"
      class="cell"
      (click)="onCellClick(i, j)"
    >
    <div class="cell" *ngIf="cell==='X' "><i class="fas fa-times"></i></div> <!-- X -->
    <div class="cell" id="O" *ngIf="cell=='O'"><i class="far fa-circle"></i></div> <!-- O -->
      
    </div>
  </div>
</div>

<div class="game-status">
  <p >Current Player: {{ gameService.currentPlayer }}</p>
  <div *ngIf="true" @fadeIn>
  <p *ngIf="gameService.gameOver" style="color: #FDFFE2 ;">
    
    {{ gameService.currentPlayer === "X" ? "Player X" : "Player O" }} won!
  </p>
</div>
  <p
    *ngIf="
      !gameService.gameOver && gameService.getAvailableMoves().length === 0
    "
  >
    It's a draw!
  </p>
</div>
