@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.boardtry {
  border-radius: 20px;
  padding: 1rem 1rem;
  width: 70%;
  max-width: 400px;
  margin: auto;
  background: rgb(0,31,63);
background: linear-gradient(40deg,rgba(12,82,142,1) 7%, rgba(255,255,255,0.6) 47%, rgba(12,82,142,1) 85%);
}

.game-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
h4 span,
.score h4 {
  margin: 0;
  color: #e7f0f7;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 1rem;
  text-align: center;
}
h4 span{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #babbcd;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(7, 50px);
  justify-content: center;
}

#O {
  font-size: 28px;
}

.game-status p {
  color: #fdffe2;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  margin: 2rem 0;
}

.btn-container button {
  padding: 3rem 1rem;
  border: none;
  border-radius: 4rem;
  background-color: #e7f0f7;
  color: #0c528e;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-container button:hover {
  background-color: #0c528e;
  color: #e7f0f7;
  transform: scale(.9);
}

@media (max-width: 768px) {
  .game-board {
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);
  }
  .boardtry {
    width:  70%;
    overflow-x: hidden;
  }

  .cell {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }

  .score h4 {
    font-size: 0.8rem;
    padding: 1rem;
  }


  .btn-container button {
    font-size: 0.9rem;
    padding: 1.5rem 0.5rem;
  }
  .o-marker{
    height: 1rem;
    width: 1rem;
  }
  .x-marker {
    position: relative;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .boardtry {
    width:  70%;
    overflow-x: hidden;
  }

  .game-board {
    grid-template-columns: repeat(7, 30px);
    grid-template-rows: repeat(7, 30px);
  }

  .cell {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .btn-container button {
    width: 100%;
    padding: 1.5rem 0.5rem;
  }

  .game-status p {
    font-size: 1rem;
  }
  .o-marker{
    height: 0.5rem;
    width: 0.5rem;
  }
  .x-marker {
    position: relative;
    width: 20px;
    height: 25px;
  }
}
