  
  <div class="page">

   <div class="page-container">
    
    <h1 >Tic Tac Toe Game</h1>

  <img src="xo 1.jpg" alt="Image loading">
</div> 

    <div class="start_btn" *ngIf="bool ; else elseBlock "   (click)="bool=!bool;" >
       <button>Start</button>
      </div>
    <ng-template #elseBlock >
      <div class="start_btn" [style.margin.px]="!options ? '0' : '50' ">
       <app-game-options  (playnow)="displaygame()" *ngIf="gameservice.displayxo;else xo"></app-game-options>
       <ng-template #xo > 
        <app-board class="boardtry"></app-board> 
      </ng-template> 
       
      </div>
      </ng-template>
  </div>
  
