
<body *ngIf="true" @fadeIn>
  

<div *ngIf="gameservice.gameMode==='ai-vs-ai' ">
<div class="container" >
  <div class="text" >Choose Difficulty of Player X</div> 
  <div class="button-container">
    <button (click)="gameservice.aiDifficultyPlayerX=0">Easy        </button>
    <button (click)="gameservice.aiDifficultyPlayerX=1">Medium    </button>
    <!-- <button (click)="gameservice.aiDifficultyPlayerX=1">Hard      </button> -->
    <button (click)="gameservice.aiDifficultyPlayerX=3">Impossible</button>
  </div>
</div>
    <div class="container">
  <div class="text">Choose Difficulty of Player O</div> 
  <div class="button-container">
    <button (click)="gameservice.aiDifficultyPlayerO=0">Easy      </button>
    <button (click)="gameservice.aiDifficultyPlayerO=1">Medium    </button>
    <button (click)="gameservice.aiDifficultyPlayerO=3">Impossible</button>
  </div>
</div>
<div class="play">
<button type="button" class="playbtn" (click)="displayXO()" >GO!</button>
</div>
</div>

<div *ngIf="gameservice.gameMode==='human-vs-ai'">
  <div class="container" >
    <div class="text" >Choose Difficulty of AI</div> 
    <div class="button-container">
      <button (click)="gameservice.aiDifficultyPlayerO=0">Easy       </button>
      <button (click)="gameservice.aiDifficultyPlayerO=1">Medium    </button>
      <button (click)="gameservice.aiDifficultyPlayerO=3">Impossible</button>
    </div>
  </div>
  <div class="play">
    <button type="button" class="playbtn" (click)="displayXO()" >GO!</button>
    </div>
</div>

</body>
<div *ngIf="gameservice.gameMode==='human-vs-human' ">
  <div *ngIf="true" @fadeIn>
  <button type="button" class="playbtn1" (click)="displayXO()" >GO!</button>
</div>

</div>
