<div *ngIf="true" @fadeIn>
  <div *ngIf="gameservice.gameMode === 'ai-vs-ai'">
    <div
      class="container"
      *ngIf="!bool"
      @fadeIn
    >
      <div class="text">Choose Difficulty of Player X</div>
      <div class="button-container">
        <button (click)="save(0)">
          Easy
        </button>
        <button (click)="save(1)">Medium</button>
        <!-- <button (click)="gameservice.aiDifficultyPlayerX=1">Hard      </button> -->
        <button (click)="save(3)">
          Impossible
        </button>
      </div>
    </div>
    <div
      class="container"
      *ngIf="bool"
      @fadeIn
    >
      <div class="text">Choose Difficulty of Player O</div>
      <a routerLink="/game">
        <div class="button-container">
          <button (click)="save(0)">
            Easy
          </button>
          <button (click)="save(1)">
            Medium
          </button>
          <button (click)="save(3)">
            Impossible
          </button>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="gameservice.gameMode === 'human-vs-ai'">
    <div class="container">
      <div class="text">Choose Difficulty of AI</div>
      <a routerLink="/game" class="button-container">
        <button (click)="save(0)">Easy</button>
        <button (click)="save(2)">Medium</button>
        <button (click)="save(3)">
          Impossible
        </button>
      </a>
    </div>
  </div>
</div>
