@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container{
 display: grid;
 grid-template-columns: 1fr;
 position: relative;
 justify-content:center ;
 margin: 20px; 
 border-radius: 50%;

}
.text{
  background: linear-gradient(0deg, rgb(63, 162, 246,0.24) 1%, #3FA2F6 94%);

  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  color: #FAFFAF;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  text-align: center;
  padding: 20px;
  }


.button-container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px; 
}
.play{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
 
}


button{
  
  border-style: none;
  background: rgb(63, 162, 246,0.24);
  color: #FAFFAF;
  font-family:  cursive;
  font-size: 1.5rem;
  transition-property: background-color , color,padding,transform,border;
}
button:hover{
  background: #0F67B1;
  
}



button:active{
  background: white;
  color: #3FA2F6;
}

.playbtn{
  height: 140px;
  border-radius: 80px;
  border-radius: 50%;
  padding: 35px;
  color: #3FA2F6;
  background: #FAFFAF;

}

.playbtn1{
  height: 230px;
  border-radius: 80px;
  border-radius: 50%;
  padding: 70px;
  color: #3FA2F6;
  background: #FAFFAF;

}
.playbtn1:hover,
.playbtn:hover{
  color: #FAFFAF;
  background: #0F67B1;
  scale: 1.1;
  transition-property: color,background-color,scale;
}



/* .playbtn1:focus,
.playbtn:focus{
  background: #000;
  color: rgba(255, 255, 255, 0.546);
} */


.playbtn,
.playbtn1,
button{
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;}

  body{
    background: rgb(63, 162, 246,0.24);
    border-radius: 20px;
  }





